<div style="background: #000;
            color: #FFF;
            margin: 0px;
            margin-bottom: 10px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 29 Lab</h1> 
</div>

# Interview Question practice

### Exercise 1

https://leetcode.com/problems/find-total-time-spent-by-each-employee/

```
+-------------+------+
| Column Name | Type |
+-------------+------+
| emp_id      | int  |
| event_day   | date |
| in_time     | int  |
| out_time    | int  |
+-------------+------+
(emp_id, event_day, in_time) is the primary key of this table.
The table shows the employees' entries and exits in an office.
event_day is the day at which this event happened, in_time is the minute at which the employee entered the office, and out_time is the minute at which they left the office.
in_time and out_time are between 1 and 1440.
It is guaranteed that no two events on the same day intersect in time, and in_time < out_time.
```

Write an SQL query to calculate the total time in minutes spent by each employee on each day at the office. Note that within one day, an employee can enter and leave more than once. The time spent in the office for a single entry is `out_time - in_time`.

Return the result table in any order.

The query result format is in the following example:

```
Employees table:
+--------+------------+---------+----------+
| emp_id | event_day  | in_time | out_time |
+--------+------------+---------+----------+
| 1      | 2020-11-28 | 4       | 32       |
| 1      | 2020-11-28 | 55      | 200      |
| 1      | 2020-12-03 | 1       | 42       |
| 2      | 2020-11-28 | 3       | 33       |
| 2      | 2020-12-09 | 47      | 74       |
+--------+------------+---------+----------+
Result table:
+------------+--------+------------+
| day        | emp_id | total_time |
+------------+--------+------------+
| 2020-11-28 | 1      | 173        |
| 2020-11-28 | 2      | 30         |
| 2020-12-03 | 1      | 41         |
| 2020-12-09 | 2      | 27         |
+------------+--------+------------+
Employee 1 has three events: two on day 2020-11-28 with a total of (32 - 4) + (200 - 55) = 173, and one on day 2020-12-03 with a total of (42 - 1) = 41.
Employee 2 has two events: one on day 2020-11-28 with a total of (33 - 3) = 30, and one on day 2020-12-09 with a total of (74 - 47) = 27.

```

In [17]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS employees;

CREATE TABLE employees (
 emp_id INTEGER NOT NULL,
 event_day DATE NOT NULL,
 in_time INTEGER NOT NULL,
 out_time INTEGER NOT NULL
);

INSERT into employees (emp_id, event_day, in_time, out_time) values ('1', '2020-11-28', '4', '32');
INSERT into employees (emp_id, event_day, in_time, out_time) values ('1', '2020-11-28', '55', '200');
INSERT into employees (emp_id, event_day, in_time, out_time) values ('1', '2020-12-3', '1', '42');
INSERT into employees (emp_id, event_day, in_time, out_time) values ('2', '2020-11-28', '3', '33');
INSERT into employees (emp_id, event_day, in_time, out_time) values ('2', '2020-12-9', '47', '74');

"""

db = sqlite3.connect('employees.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [18]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('employees.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [19]:
with_conn('SELECT * from employees')

[(1, '2020-11-28', 4, 32),
 (1, '2020-11-28', 55, 200),
 (1, '2020-12-3', 1, 42),
 (2, '2020-11-28', 3, 33),
 (2, '2020-12-9', 47, 74)]

### Exercise 2 

https://leetcode.com/problems/partition-array-into-three-parts-with-equal-sum

Given an array of integers `arr`, return `True` if we can partition the array into three non-empty parts with equal sums.

Formally, we can partition the array if we can find indexes `i + 1 < j` with `(arr[0] + arr[1] + ... + arr[i] == arr[i + 1] + arr[i + 2] + ... + arr[j - 1] == arr[j] + arr[j + 1] + ... + arr[arr.length - 1])`.

**Example 1:**  

Input: `arr = [0,2,1,-6,6,-7,9,1,2,0,1]`  
Output: `True`
Explanation: 0 + 2 + 1 = -6 + 6 - 7 + 9 + 1 = 2 + 0 + 1

**Example 2:**  

Input: `arr = [0,2,1,-6,6,7,9,-1,2,0,1]`  
Output: `False`  

**Example 3:**

Input: `arr = [3,3,6,5,-2,2,5,1,-9,4]`
Output: `True`
Explanation: 3 + 3 = 6 = 5 - 2 + 2 + 5 + 1 - 9 + 4

 

Constraints:
* `3 <= arr.length <= 5 * 10**4`
* `-104 <= arr[i] <= 10**4`

In [1]:
from typing import List

def exercise2(arr: List[int] = [0,2,1,-6,6,-7,9,1,2,0,1]) -> bool:
    pass

try:
    assert(exercise2() == True)
    assert(exercise2([0,2,1,-6,6,7,9,-1,2,0,1]) == False)
    assert(exercise2([3,3,6,5,-2,2,5,1,-9,4]) == True)
    print("solution is correct")
except AssertionError:
    print("solution is incorrect")

solution is incorrect

# Django Practice

Using the django project you created during class last week (not your data-pipeline final project) and the notes from the lesson yesterday, create some views for your project including proper Django templates. You may use this project as:
* a dummy website for practice
* a web application for your portfolio
* your own personal website or portfolio page
* anything you'd like to build

Requirements:
* Create at least two views, each using its own template
* Create a `base.html` template that each of the templates in the previous bulletpoint inherit from.

When your initial views are ready, set the project up as a git repo and push it to github. Include the link with your lab submission.

# Data Pipeline Project

Continue working on your project. At this point you should have an idea of what sort of data you will be working with and should be in the process of gathering this data and preparing initial cleanup. Your project should be on github so commit any changes you make to your github project. We will be checking for commits made between today and sunday.

# Work on `Week-29-Project`