<div style="background: #000;
            color: #FFF;
            margin: 0px;
            margin-bottom: 10px;
            padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Phase 3 Assessment</h1>
</div>

Name:

Notes:

Please be sure to leave your name in the filename or in this notebook so we know whose work belongs to who. 

Start with the questions you're able to answer first and then go back to any difficult exercises.

For each section, be sure to answer (at minimum) the number of exercises needed per section.

1. Python Questions - choose **10** exercises out of 20
2. SQL Questions - choose **5** exercises out of 10
3. Data Science Questions - choose **5** exercises out of 10
4. Machine Learning Questions - choose **5** open ended questions out of 10

# Python Questions

Complete 10 out of 20.

### Exercise 1

Create a function that takes an arbitrary number of keyword arguments and returns two lists: one containing the keys and one containing the values.

In [ ]:
from typing import Tuple, List, Dict

def exercise_1(**kwargs: Dict) -> Tuple[List, List]:
    pass

try:
    assert(exercise_1() == ([],[]))
    assert(isinstance(exercise_1(), Tuple))
    assert(isinstance(exercise_1()[0], List))
    assert(exercise_1(a=0) == (['a'], [0]))
    assert(exercise_1(a=0, b=1) == (['a', 'b'], [0, 1]))
    assert(exercise_1(a=0, b=1, c=2) == (['a', 'b', 'c'], [0, 1, 2]))
    print("solution is correct")
except AssertionError:
    print("solution is incorrect")

## Exercise 2

Given the following list, use slicing to output the second half backwards. Assign it to `exercise_2`.

Hint: start by outputting the list backwards.

In [ ]:
lst = ["a", "b", "c", 1, 2, 3]

exercise_2 = lst


try:
    assert(exercise_2 == [3, 2, 1])
    print("solution is correct")
except AssertionError:
    print("solution is incorrect")

### Exercise 3

Create a class called `Circle` that extends the class `Shape`. `Circle` should be initialized with the same arguments as `Shape` but also take a new argument called `radius`. Override the area method so that it calculates the area of a circle using that `radius`.

The area of a circle is calculated using the following formula:

$$ A = \pi r^2$$

In [ ]:
class Shape:
    def __init__(self, color):
        self.color = color
        
    def area(self):
        pass
    
class Circle(Shape):
    pass

try:
    c = Circle("red", 10)
    assert(c.area() == round(314))
    print("solution is correct")
except AssertionError:
    print("solution is incorrect")

### Exercise 4

Create a dictionary comprehension that generates the following dictionary:
```
{0:'a', 1:'b', 2:'c', 3:'d', 4:'e'}
```

Assign the dictionary to `exercise_4`.

In [ ]:
exercise_4 = None

try:
    assert(exercise_4 == {0:'a', 1:'b', 2:'c', 3:'d', 4:'e'})
    print("solution is correct")
except AssertionError:
    print("solution is incorrect")

### Exercise 5.

Create a lambda expression that takes `a`, `b`, `c` and `x` and calculates the following: 

$$  \text{f} = \frac{2ax^4 + 2bx^3 -2cx^2}{2x^2} $$

Bonus points: Can you notice the issue you might have with this equation?

In [ ]:
f = None

print(f(0,0,0,2))
print(f(2,1,0,2))
print(f(5,0,0,2))
print(f(5,3,4,2))

try:
    assert(f(0,0,0,2) == 0)
    assert(f(2,1,0,2) == 10)
    assert(f(5,0,0,2) == 20)
    assert(f(5,3,4,2) == 22)
    print("solution is correct")
except:
    print("solution is incorrect")

bonus answer:

### Exercise 6.

Create a function that outputs a list of all the even numbers from 1 to 500 that are also divisible by 3, 5 **OR** 7.

note: there is an **"or"** in the statement above.

In [ ]:
from hashlib import sha256

def exercise_6():
    pass

try:
    assert(sha256(str(exercise_6()).encode('utf-8')).hexdigest() == "a734160e2cde76ca5e8096e376f05d6c4819a06a23a7e03b1d79b348b4558ba6" )
    print("solution is correct")
except AssertionError:
    print("solution is incorrect")

### Exercise 7.

Add a method called `from_full_name` to the following function so that we are able to create an instance of the class by passing the a full name (string of first and last name separated by a space). Do not change anything from the try/except block below. Then create an instance using that method.

In [ ]:
import inspect # this is necessary for checking your answer - ignore

class Person:
    pass

try:
    p = Person.from_full_name("A P")
    assert(getattr(p, 'first_name', None) == "A")
    assert(getattr(p, 'last_name', None) == "P")
    assert(inspect.ismethod(Person.from_full_name) and Person.from_full_name.__self__ is Person)
    print("solution should probably be correct (not guaranteed)")
except AssertionError:
    print("solution is incorrect")

### Exercise 8

The Towers of Hanoi is a mathematical puzzle whose solution can be found using recursion. There are three pegs which can hold stacks of disks of different diameters. A larger disk may never be stacked on top of a smaller. Starting with n disks on one peg, they must be moved to another peg one at a time.

Write a function that calculates the smallest number of steps to move the stack.



To calculate this, use the following function:


$$ \begin{equation*}
\text{hanoi}(n) = \left\{
        \begin{array}{ll}
            1 & \quad \text{if} \, n = 1 \\
            2 * \text{hanoi}(n-1) + 1 & \quad \text{if} \, n > 1
        \end{array}
    \right.
\end{equation*} $$

In [ ]:
def hanoi(n):
    pass
    
try:
    assert(hanoi(1) == 1)
    assert(hanoi(4) == 15)
    assert(hanoi(15) == 32767)
    print("solution is correct")
except AssertionError:
    print("solution is incorrect")

### Exercise 9

Create a function that executes in $O(n^2)$.

### Exercise 10 

Implement a binary search algorithm in python. Use it to search through the given list for `10`.**

In [ ]:
given = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

assert(sorted(given) == given)

In [ ]:
from typing import List

def binary_search(l: List = given, s: int = 0) -> int:
    pass
    
binary_search()
binary_search(s=2)
try:
    assert(binary_search() == 10)
    assert(binary_search(s=2) == -1)
    assert(binary_search(s=-5) == 5)
    print("test passed")
except AssertionError as e:
    print("test failed")

### Exercise 11 

Fix the following code so the function calls work.

In [ ]:
class BinaryTree:
    def __init__(self, data):
        self.left = None
        self.right = None
        self.data = data

    def add(self, data):
        # fix this function:
        pass
        # end of section that needs fixing
        
    def print(self):
        if self.left:
            self.left.print()
        print(self.data)
        if self.right:
            self.right.print()  
            
bt = BinaryTree(5)
bt.add(7)
bt.add(8)
bt.add(3)
bt.add(4)
bt.print()
# if your solution is correct,
# you will see all the values [3,4,5,7,8] printed

### Exercise 12

Write a class that implements a stack. Use any method of your choosing. Your stack must have the following three methods: `push`, `pop`, `peek` (returns next value to be popped).

In [ ]:
class Stack:
    pass
    
# use the following to test your code    
try:
    s = Stack()
    s.push(3)
    s.push(4)
    s.push(5)
    assert(s.pop() == 5)
    assert(s.peek() == 4)
    print("test passed")
except AssertionError:
    print("test failed.")

### Exercise 13

Write a python function that calculates the expected value of the following dictionary containing outcomes (in dollars) and their probabilities.

Let $X$ by a random variable with $k$ number of finite outcomes $x_1, x_2,...,x_k$ occurring with probability $p_1, p_1,...,p_k$, respectively. The **expectation** of $X$ is defined as:
$$ E[X] = \sum_{i=1}^{k}{x_i p_i} = x_1p_1 + x_2p_2 + ... + x_kp_k$$

In [ ]:
# os are outcomes
os = [-20.0, -10.0, 0.0, 10, 20]
# ps are probabilities respectively
ps = [0.20, 0.20, 0.20, 0.20, 0.20]

def expected_value(outcomes = os, probabilities = ps):
    pass

try:
    assert(expected_value() == 0.0)
    print("test passed.")
except AssertionError:
    print("test failed.")

### Exercise 14

Create a dataclass called Vector that contains:
* two attributes `x` and `y`
* a method that overrides the addition operator so you can add two points together
* a method called `distance` that calculates the distance between the two points using the distance formula we saw in class:

$$ \text{distance} = \sqrt{(x_2-x_1)^{2} + (y_2-y_1)^{2} } $$

In [ ]:
from typing import List
from dataclasses import dataclass

@dataclass
class Vector:
    pass
    
try:
    v_1 = Vector(-4,-4)
    v_2 = Vector(3,4)
    assert(v_1 + v_2 == Vector(x=-1,y=0))
    # this is basically calculating a 
    # 3-4-5 right triangle
    v_1 = Vector(0,0)
    v_2 = Vector(3,4)
    assert(v_1.distance(v_2) == 5)
    assert(v_2.distance(v_1) == 5)
    print("tests passed")
except AssertionError:
    print("test failed.")

### Exercise 15

Create a generator function that takes a string and returns the next character of the string each time it yields a value.

In [ ]:
import types

# this is needed for test; do not change
s = "really long string that has a lot of characters in it"

def exercise_15(string=s):
    pass

try:
    gen = exercise_15()
    assert(isinstance(gen, types.GeneratorType))
    assert((e:= next(gen)) == 'r')
    assert(list(gen) == list(s)[1:])
    print("test passed")
except:
    print("test failed")

### Exercise 16

Create a decorator function that when decorating a function, prints: 
```
***STARTING FUNCTION***
```
before the function call and 
```
***ENDING FUNCTION CALL***
```
after calling the function.

For bonus points, print the time taken to call the function **and** what the return values are.

In [ ]:
import time

def decorator_function(func):
    pass
        
@decorator_function
def func(n):
    time.sleep(1)
    return n**2

func(100_000_000_000)

### Exercise 17

Show an example of currying functions: two regular functions and a third that uses the previous two.

In [ ]:
# enter your code here

### Exercise 18

Create a function that takes a list of integers and calculates the mean. Use the following formula for calculating averages and not any `mean`/`average` method.

$$ \mu = {\frac {1}{n}}\sum _{i=1}^{n}a_{i}={\frac {a_{1}+a_{2}+\cdots +a_{n}}{n}}$$

In [ ]:
example_list = [1,2,3,4,5,6,7,8,9]

### Exercise 19

Create a function that uses your favorite standard library module.

### Exercise 20

You are tasked with building a data pipeline that scrapes data, stores it in sql, processes it in numpy/pandas (think exploratory analysis and data cleanup) and uses the data in a K-Means clustering. Write out the steps you would take to complete this task, what the structure of your project would look like and what considerations should be made (e.g. what might become an issue, what decisions must we make, what steps would need to be done first, etc).

# SQL

### Exercise 1

Fix the `CREATE` SQL query in the code below to create the following table
```
table: Employees
+----+------+-----+--------+
| Id | Name | Age | Salary |
+----+------+-----+--------+
Id is an integer primary key
Name is a not null varchar
Age is a not null integer
Salary is a not null integer
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS Employee;

CREATE TABLE Employee (
 --fix me
);

INSERT INTO Employee (Id, Name, Age, Salary) values ('1', 'Employee 1', '29', '100');
INSERT INTO Employee (Id, Name, Age, Salary) values ('2', 'Employee 2', '41', '200');
INSERT INTO Employee (Id, Name, Age, Salary) values ('3', 'Employee 3', '23', '300');

"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('SELECT * FROM Employee')


### Exercise 2

Write a SQL query to get the highest salary from the Employee table.
```
+----+--------+
| Id | Salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
```
For example, given the above Employee table, the query should return 300 as the second highest salary. If there is no second highest salary, then the query should return null.
```
+---------------------+
| HighestSalary |
+---------------------+
| 300                 |
+---------------------+
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS Employee;

CREATE TABLE Employee (
 Id INTEGER NOT NULL PRIMARY KEY,
 Salary INTEGER NOT NULL
);

INSERT INTO Employee (Id, Salary) values ('1', '100');
INSERT INTO Employee (Id, Salary) values ('2', '200');
INSERT INTO Employee (Id, Salary) values ('3', '300');

"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('SELECT * FROM Employee')

### Exercise 3

Write the SQL query/queries that updates the following table so that any user that has an email address is verified.
```
table: User
+----+----------+---------+----------+
| id | username |  email  | verified |
+----+----------+---------+----------+
| 1  | platano  | p@pm.me | false    |
| 2  | unknown  | u@pm.me | false    |
| 3  | malcolm  |         | false    |
+----+----------+---------+----------+
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS User;

CREATE TABLE User (
 id INTEGER NOT NULL PRIMARY KEY,
 username VARCHAR(30) NOT NULL,
 email VARCHAR(30),
 verified BOOL
);

INSERT INTO User (username, email, verified) VALUES ('platano', 'p@pm.me', 'false');
INSERT INTO User (username, email, verified) VALUES ('unknown', 'u@pm.me', 'false');
INSERT INTO User (username, verified) VALUES ('malcolm', 'false');

"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('SELECT * FROM User')

In [ ]:
with_conn('')

### Exercise 4

Write the SQL query/queries that deletes rows from the following table if the user that has no email.
```
table: User
+----+----------+---------+----------+
| id | username |  email  | verified |
+----+----------+---------+----------+
| 1  | platano  | p@pm.me | false    |
| 2  | unknown  | u@pm.me | false    |
| 3  | malcolm  |         | false    |
+----+----------+---------+----------+
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS User;

CREATE TABLE User (
 id INTEGER NOT NULL PRIMARY KEY,
 username VARCHAR(30) NOT NULL,
 email VARCHAR(30),
 verified BOOL
);

INSERT INTO User (username, email, verified) VALUES ('platano', 'p@pm.me', 'false');
INSERT INTO User (username, email, verified) VALUES ('unknown', 'u@pm.me', 'false');
INSERT INTO User (username, verified) VALUES ('malcolm', 'false');

"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('SELECT * FROM User')

In [ ]:
with_conn('')

### Exercise 5

Write the SQL query/queries that inserts 5 students into the following table. Use a select statement to demonstrate that it works.
```
table: User
+----+----------+---------+----------+
| id | username |  email  | verified |
+----+----------+---------+----------+
| 1  | platano  | p@pm.me | false    |
| 2  | unknown  | u@pm.me | false    |
| 3  | malcolm  |         | false    |
+----+----------+---------+----------+
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS Student;

CREATE TABLE Student (
 id INTEGER NOT NULL PRIMARY KEY,
 name VARCHAR(30) NOT NULL,
 class VARCHAR(30) NOT NULL,
 email VARCHAR(30),
 passing BOOL NOT NULL
);
"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('')

In [ ]:
with_conn('SELECT * FROM Student')

### Exercise 6

Insert rows into the Student table using the rows in the People table.

hint: Use a `SELECT` subquery.
```
table: Student
+----+----------+---------+----------+
| id | username |  email  | verified |
+----+----------+---------+----------+
| 1  | platano  | p@pm.me | false    |
| 2  | unknown  | u@pm.me | false    |
| 3  | malcolm  |         | false    |
+----+----------+---------+----------+
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS Student;
DROP TABLE IF EXISTS People;

CREATE TABLE Student (
 id INTEGER NOT NULL PRIMARY KEY,
 name VARCHAR(30) NOT NULL,
 class VARCHAR(30),
 email VARCHAR(30),
 passing BOOL
);

Create TABLE People (
 id INTEGER NOT NULL PRIMARY KEY,
 name VARCHAR(30) NOT NULL,
 email VARCHAR(30) NOT NULL
);

INSERT INTO People (name, email) VALUES ('platano man', 'p@pm.me');
INSERT INTO People (name, email) VALUES ('unknown person', 'u@pm.me');

"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('SELECT * FROM Student')

In [ ]:
with_conn('')

### Exercise 7

Suppose that a website contains two tables, the Customers table and the Orders table. Write a SQL query to find all customers who never order anything.
```
Table: Customers.

+----+-------+
| Id | Name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+

Table: Orders.

+----+------------+
| Id | CustomerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
```
Using the above tables as example, return the following:
```
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+
```

In [ ]:
import sqlite3

sql_commands = \
"""
PRAGMA foreign_keys = ON;

DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Orders;

CREATE TABLE Customers (
 Id INTEGER NOT NULL PRIMARY KEY,
 Name NVARCHAR(255)
);

CREATE TABLE Orders (
 Id INTEGER NOT NULL PRIMARY KEY,
 CustomerId INTEGERY NOT NULL,
 FOREIGN KEY(CustomerId) REFERENCES Customers(Id)
);

INSERT INTO Customers (Id, Name) VALUES ('1', 'Joe');
INSERT INTO Customers (Id, Name) VALUES ('2', 'Henry');
INSERT INTO Customers (Id, Name) VALUES ('3', 'Sam');
INSERT INTO Customers (Id, Name) VALUES ('4', 'Max');
INSERT INTO Orders (Id, CustomerId) VALUES ('1', '3');
INSERT INTO Orders (Id, CustomerId) VALUES ('2', '1');
"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('SELECT * FROM Customers')

In [ ]:
with_conn('SELECT * FROM Orders')

In [ ]:
with_conn('')

### Exercise 8

Table `my_numbers` contains many numbers in column `num` including duplicated ones as well as a value in corresponding column `val`.
Can you write a SQL query to find the biggest `num` for all rows that have val `A`.
```
+---+---+
|num|val|
+---+---+
| 8 | A |
| 7 | A |
| 3 | A |
| 3 | A |
| 1 | B |
| 4 | B |
| 5 | B |
| 6 | B |
```
For the sample data above, your query should return the following result:
```
+---+---+
|num|val|
+---+---+
| 8 | A |
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS my_numbers;

CREATE TABLE my_numbers (
 id INTEGER NOT NULL PRIMARY KEY,
 num INTEGER NOT NULL,
 val VARCHAR(1) NOT NULL
);

INSERT INTO my_numbers (num, val) VALUES ('8', 'A');
INSERT INTO my_numbers (num, val) VALUES ('7', 'A');
INSERT INTO my_numbers (num, val) VALUES ('3', 'A');
INSERT INTO my_numbers (num, val) VALUES ('3', 'A');
INSERT INTO my_numbers (num, val) VALUES ('1', 'B');
INSERT INTO my_numbers (num, val) VALUES ('4', 'B');
INSERT INTO my_numbers (num, val) VALUES ('5', 'B');
INSERT INTO my_numbers (num, val) VALUES ('6', 'B');
"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('SELECT * FROM my_numbers;')

### Exercise 9

Table `numbers` contains many numbers in column `num`
Can you write a SQL query that sums the `num` column for all rows that have vals that are `B`.
```
+---+---+
|num|val|
+---+---+
| 8 | A |
| 7 | A |
| 3 | A |
| 3 | A |
| 1 | B |
| 4 | B |
| 5 | B |
| 6 | B |
```
For the sample data above, your query should return the following result:
```
+---+---+
|num|val|
+---+---+
| 8 | A |
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS numbers;

CREATE TABLE numbers (
 id INTEGER NOT NULL PRIMARY KEY,
 num INTEGER NOT NULL,
 val VARCHAR(1) NOT NULL
);

INSERT INTO numbers (num, val) VALUES ('8', 'A');
INSERT INTO numbers (num, val) VALUES ('7', 'A');
INSERT INTO numbers (num, val) VALUES ('3', 'A');
INSERT INTO numbers (num, val) VALUES ('3', 'A');
INSERT INTO numbers (num, val) VALUES ('1', 'B');
INSERT INTO numbers (num, val) VALUES ('4', 'B');
INSERT INTO numbers (num, val) VALUES ('5', 'B');
INSERT INTO numbers (num, val) VALUES ('6', 'B');
"""
db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn('SELECT * FROM numbers;')

### Exercise 10

```
Table: Customers

+---------------------+---------+
| Column Name         | Type    |
+---------------------+---------+
| customer_id         | int     |
| customer_name       | varchar |
+---------------------+---------+
customer_id is the primary key for this table.
customer_name is the name of the customer.

 

Table: Orders

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| order_id      | int     |
| customer_id   | int     |
| product_name  | varchar |
+---------------+---------+
order_id is the primary key for this table.
customer_id is the id of the customer who bought the product "product_name".
```

Write an SQL query to report the customer_id and customer_name of customers who bought products "A", "B" but did not buy the product "C" since we want to recommend them buy this product.

Return the result table ordered by customer_id.

The query result format is in the following example.

 
```
Customers table:
+-------------+---------------+
| customer_id | customer_name |
+-------------+---------------+
| 1           | Daniel        |
| 2           | Diana         |
| 3           | Elizabeth     |
| 4           | Jhon          |
+-------------+---------------+

Orders table:
+------------+--------------+---------------+
| order_id   | customer_id  | product_name  |
+------------+--------------+---------------+
| 10         |     1        |     A         |
| 20         |     1        |     B         |
| 30         |     1        |     D         |
| 40         |     1        |     C         |
| 50         |     2        |     A         |
| 60         |     3        |     A         |
| 70         |     3        |     B         |
| 80         |     3        |     D         |
| 90         |     4        |     C         |
+------------+--------------+---------------+

Result table:
+-------------+---------------+
| customer_id | customer_name |
+-------------+---------------+
| 3           | Elizabeth     |
+-------------+---------------+
Only the customer_id with id 3 bought the product A and B but not the product C.
```

In [ ]:
import sqlite3

sql_commands = \
"""
DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Orders;

CREATE TABLE Customers (
 customer_id INTEGER NOT NULL PRIMARY KEY,
 customer_name NVARCHAR(30)
);

CREATE TABLE Orders (
 order_id INTEGER NOT NULL PRIMARY KEY,
 customer_id INTEGER NOT NULL,
 product_name VARCHAR(30)
);

INSERT INTO Customers (customer_id, customer_name ) VALUES ('1', 'Daniel');
INSERT INTO Customers (customer_id, customer_name ) VALUES ('2', 'Diana');
INSERT INTO Customers (customer_id, customer_name ) VALUES ('3', 'Elizabeth');
INSERT INTO Customers (customer_id, customer_name ) VALUES ('4', 'Jhon');

INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('10', '1', 'A');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('20', '1', 'B');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('30', '1', 'D');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('40', '1', 'C');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('50', '2', 'A');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('60', '3', 'A');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('70', '3', 'B');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('80', '3', 'D');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('90', '4', 'C');
"""

db = sqlite3.connect('phase-3-assessment.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('phase-3-assessment.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn("SELECT * FROM Customers;")

In [ ]:
with_conn("SELECT * FROM Orders;")

# Data Science
Complete 5 out of 10

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# you can optionally choose to import and use bokeh

### Exercise 1

Create an array that contains the values of $y$ for each of the $x$ values ranging from 0 to 100. Then chart the relationship.

$$ y = 25x+10  $$

### Exercise 2

Create a 2-dimensional array that contains the numbers from 1 to 20 with even numbers in the first column and odd numbers in the second.

### Exercise 3

Create an array with random numbers between 0 and 1.

### Exercise 4

Create an array that contains 10 numbers. All of them between 0 and 5. Then add that to an array that contains the numbers from 5 to 10.

### Exercise 5

Given the following array, find the cumulative sum along the rows. Then find the cumulative sum along the columns. Then output the 2nd (1st index) column but only the first 10 rows. You should get a very recognizable pattern.

In [ ]:
a = np.array([[0,1,2,3,4,5,6,7,8,9,10],[1,2,3,4,5,6,7,8,9,10,0], [2,3,4,5,6,7,8,9,10,0,1], [3,4,5,6,7,8,9,10,0,1,2],[4,5,6,7,8,9,10,0,1,2,3],[5,6,7,8,9,10,0,1,2,3,4],[6,7,8,9,10,0,1,2,3,4,5],[7,8,9,10,0,1,2,3,4,5,6],[8,9,10,0,1,2,3,4,5,6,7],[9,10,0,1,2,3,4,5,6,7,8],[10,0,1,2,3,4,5,6,7,8,9]])

### Exercise 6

Create a dataframe using the following:

In [ ]:
lst = [['Red',4],['Blue',6],['Green',1],\
       ['Yellow',5],['White',3],['Black',2],]

Create a dataframe using the following:

In [ ]:
dct = {'red':4, 'blue':6, 'green':1,\
       'yellow':5, 'white':3, 'black':2 }

**The following exercises will use the dataset imported below:**

In [ ]:
df = pd.DataFrame([[2019,'Toyota','Camry',336978, 24765,np.nan],[np.NaN,'Toyota','Corolla',304850, np.nan,4560556],[2019,np.nan,'Supra',2884, 35545,np.nan],[2019,'Toyota','Avalon',27767 ,np.nan,1012940.16]])
df.columns = ['year', 'make', 'model', 'number sold', 'price', 'revenue (in thousands)']
df

### Exercise 7

a. Fix the `year` column in the dataframe by replacing missing values with the average value of that column.


b. Fix the `'make'` column by replacing the missing value with the value that occurred most frequently (mode).

**note: for the following exercises, remember that revenue in the dataframe is the revenue divided by 1000 (so multiply by 1000 to get true revenue).**

### Exercise 8

Fix the `'revenue (in thousands)'` column by calculating the approximate revenue. Remember that the value of `'revenue'` is in the 1000s.

$$ \textrm{revenue} = \textrm{number sold} * \textrm{price} $$

### Exercise 9

Fix the `'price'` column by calculating the approximate price.

$$ \textrm{price} = \frac{\textrm{revenue}}{\textrm{number sold}} $$

### Exercise 10

Fix the `'number sold'` column by calculating the approximate number of vehicles sold.

$$ \textrm{number sold} = \frac{\textrm{revenue}}{\textrm{price}} $$

# Machine Learning Questions 

Answer 5 out of 10.

**1. What is bias in a machine learning model? Why does increasing model complexity decrease bias? What concerns do we need to worry about when increasing model complexity to decrease bias?**

**2. What do we use a logistic regression for? What class of machine learning algorithms is logistic regression part of? Explain the main difference between this class of machine learning algorithm and alternatives.**

**3. Explain A/B testing. In what circumstances can you use it?**

**4. Explain what True Positive, False Positive, True Negative and False Negative means in the context of a classification model (these are the outputs of a confusion matrix).**

**5. Explain the difference between overfitting and underfitting.**

**6. How do you select the number of clusters for a clustering algorithm?**

**7. Explain what a perceptron is and how it works.**

**8. Explain why we would want to use dimensionality reduction. Use Principal Component Analysis in your response.**

**9. Explain how supervised machine learning works.**

**10. Explain why we split our data into training and testing data for supervised machine learning.**