<div style="background: #000;
            color: #FFF;
            margin: 0px;
            margin-bottom: 10px;
            padding: 10px 0px 20px 0px;
            text-align: center; ">
    <h1>Week 31 Lab</h1> 
</div>

# Part 1 - Open Ended Questions

### 1. What is dimensionality reduction? Why might we use it?

### 2. What is Principal Component Analysis? In your own words.

### 3. What is a perceptron? Explain how it works (conceptually).

### 4. What is the `inertia_` attribute of a `KMeans` clustering object from sklearn? What is another name for it and what is it used to describe in K Means clustering?

### 5. What is the difference between classification and clustering?

### 6. What is the curse of dimensionality? Try to include both how it applies to dimensionality reduction and how it applies to model performance.

# Part 2 - Interview Questions

### Exercise 1.

```
Table: Customers

+---------------------+---------+
| Column Name         | Type    |
+---------------------+---------+
| customer_id         | int     |
| customer_name       | varchar |
+---------------------+---------+
customer_id is the primary key for this table.
customer_name is the name of the customer.

 

Table: Orders

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| order_id      | int     |
| customer_id   | int     |
| product_name  | varchar |
+---------------+---------+
order_id is the primary key for this table.
customer_id is the id of the customer who bought the product "product_name".
```

Write an SQL query to report the customer_id and customer_name of customers who bought products "A", "B" but did not buy the product "C" since we want to recommend them buy this product.

Return the result table ordered by customer_id.

The query result format is in the following example.

 
```
Customers table:
+-------------+---------------+
| customer_id | customer_name |
+-------------+---------------+
| 1           | Daniel        |
| 2           | Diana         |
| 3           | Elizabeth     |
| 4           | Jhon          |
+-------------+---------------+

Orders table:
+------------+--------------+---------------+
| order_id   | customer_id  | product_name  |
+------------+--------------+---------------+
| 10         |     1        |     A         |
| 20         |     1        |     B         |
| 30         |     1        |     D         |
| 40         |     1        |     C         |
| 50         |     2        |     A         |
| 60         |     3        |     A         |
| 70         |     3        |     B         |
| 80         |     3        |     D         |
| 90         |     4        |     C         |
+------------+--------------+---------------+

Result table:
+-------------+---------------+
| customer_id | customer_name |
+-------------+---------------+
| 3           | Elizabeth     |
+-------------+---------------+
Only the customer_id with id 3 bought the product A and B but not the product C.
```

In [ ]:
import sqlite3

sql_commands = \
"""

DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Orders;

CREATE TABLE Customers (
 customer_id INTEGER NOT NULL PRIMARY KEY,
 customer_name NVARCHAR(30)
);

CREATE TABLE Orders (
 order_id INTEGER NOT NULL PRIMARY KEY,
 customer_id INTEGER NOT NULL,
 product_name VARCHAR(30)
);

INSERT INTO Customers (customer_id, customer_name ) VALUES ('1', 'Daniel');
INSERT INTO Customers (customer_id, customer_name ) VALUES ('2', 'Diana');
INSERT INTO Customers (customer_id, customer_name ) VALUES ('3', 'Elizabeth');
INSERT INTO Customers (customer_id, customer_name ) VALUES ('4', 'Jhon');

INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('10', '1', 'A');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('20', '1', 'B');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('30', '1', 'D');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('40', '1', 'C');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('50', '2', 'A');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('60', '3', 'A');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('70', '3', 'B');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('80', '3', 'D');
INSERT INTO Orders (order_id, customer_id, product_name) VALUES ('90', '4', 'C');
"""

db = sqlite3.connect('week-31-class.db')
cursor = db.cursor()
cursor.executescript(sql_commands)
db.commit()
db.close()

In [ ]:
# use this function for your answers.
def with_conn(statement):
    conn = sqlite3.connect('week-31-class.db')
    with conn:
        cur = conn.cursor()
        cur.execute(statement)
        result = cur.fetchall()
        return result

In [ ]:
with_conn("SELECT * FROM Customers;")

In [ ]:
with_conn("SELECT * FROM Orders;")

# Part 3 - Work on your ongoing django project

Your project should have some models defined. Now you'll add a form that saves data entered to your models.

To complete this section:
* Create a model or update your models so you have one you'd like to use for your form
* Create a form using `ModelForm` in your `<app>/forms.py` file.
* Create or edit a view so that it uses that form (displaying it for `GET` requests or saving the data for a `POST` request if the form is valid.
* Updating/creating a template that displays that page and the form.
* Push these changes as a commit to your github repository.

# Part 4 - Work on your final project

You should have a topic chosen, datasets gathered and a plan for your database. Begin storing your data or putting together your database with the correct tables. 

There is no definitive deliverable but you should, at this point, have some of the following:
* datasets you've gathered
* initial exploratory data analysis in jupyter notebooks
* an sqlite database containing your data and a python script for setting up your tables (you can use the python code we use for class problems as the basis of your script).
* at least a text/markdown file including your research goal, steps documenting your process and including any notes you might have.

If you are still stuck on your topic, data, or any other issue, this is your time to figure it out. Speak to teaching staff if you have any issues/concerns/questions. 

To complete this section:
* Add the changes to your git repo
* Submit as part of this lab the status and current progress being made towards your project.

# Part 5 - Watch Statquest video on PCA.

https://www.youtube.com/watch?v=_UVHneBUBW0

# Bonus

In the cell below, write the code that performs a K Means clustering on the NIST Digits dataset from yesterday. Feel free to use the code samples from yesterday.